<ion-view title="launch" id="launch">
  <ion-content padding="true">
    <div class="spacer" style="width: 100%; height: 3em;"></div>
    <div class="outer-container">
      <div class="inner-container">
        <ul class="launch-buttons">
          <li>
            <button class="login-button" ng-click="join(2)">Two-Player Game</button>
          </li>
          <li>
            <button class="login-button" ng-click="join(3)">Three-Player Game</button>
          </li>
          <li>
            <button class="login-button" ng-click="join(4)">Four-Player Game</button>
          </li>
          <li> 
            <button class="login-button" ng-click="toggleShowUsers()">Invite a Friend</button>
          </li>
        </ul>

        <ul class="user-list">
          <li class="user" ng-show="showUsers" ng-repeat="user in activeUsers" ng-click="invite(user.name)"> {{ user.name }}</li>
        </ul>

      </div>
    </div>
    <div id="animate">
    </div>
    <button id="bottom-button" ng-click="back()">Back</button>
  </ion-content>
</ion-view>
