<ion-view title="nav" id="nav">
  <div id="nav-view">
    <ion-content padding="true">
      <h1 class="nav-title">
      <span class="blue">S</span><span class="gray">P</span><span class="green">H</span><span class="pink">E</span><span class="gray">R</span><span class="blue">O</span>
      </h1>
      <div id="navStuff" class="animated">
        <div class="spacer-wrapper">


          <form ng-if="loginActive" id="login" class="list animate-if" ng-submit="login(username,password)">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="$parent.$parent.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="$parent.$parent.password">
            </label>
            <input type="submit" style="display:none">
          </form>

          <form ng-if="signupActive" class="list animate-if" ng-submit="signUp(username,password,email)">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="$parent.$parent.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="$parent.$parent.password">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="$parent.$parent.email">
            </label>
            <input type="submit" style="display:none">
          </form>

          <div ng-if="welcomeActive" class="list full-width animate-if">
              <div class="welcome">{{signUpMessage}}</div>
          </div>
      </div>

        <div class="outer-container">
          <div class="inner-container">
            <ul class="nav-buttons" ng-if="!loggedIn" class="animate-if">
              <li>
                <!-- will alt these with gray -->
                <button class="blueb" ng-click="play()">Play</button>
              </li>
              <li>
                <button ng-class="loginActive ? 'greenb' : 'grayb'" ng-click="login(username, password)">Login</button>
              </li>
              <li>
                <button ng-class="signupActive ? 'pinkb' : 'grayb'" ng-click="signUp(username, password, email)">Sign Up</button>
              </li>
            </ul>

            <ul class="nav-buttons" ng-if="loggedIn" class="animate-if">
              <li>
                <!-- will alt these with gray -->
                <button class="blueb" ng-click="login()">Play</button>
              </li>
              <li>
                <button class="greenb" ng-click="logout()">Logout</button>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </ion-content>
  </div>
</ion-view>
